# Python junk
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Firebase / keys / secrets (keep json files for Firebase)
# *.json
*.pem
*.key
# service-keys/

# Local DB, caches
db/
*.db
*.sqlite3
.cache/
*.log

# Git
.git/
.gitignore

# Env files
.env
.env.*
