fastapi
uvicorn
python-dotenv
httpx
aiohttp
google-generativeai
tavily-python
pydantic
pydantic-settings
beautifulsoup4
requests
html2text
sentence-transformers
chromadb
numpy
qdrant-client[fastembed]
firebase-admin
python-multipartgoogle-cloud-firestore>=2.22.0
